<section class="footer-top"></section>
    <section class="footer position-relative">
        <div class="container pt-5">
            <div class="row align-items-center text-center text-md pt-5">
                <div class="col-md-3 contact mb-5 mb-md-0 z-ind">
                    <p class="text-white">Contact us on</p>
                    <ul class="justify-content-center justify-content-md-start">
                        <li><a href="https://in.linkedin.com/company/pyconindia" title="Linkedin" target="_blank"><i
                                    class="fa-brands fa-linkedin-in"></i>
                            </a>
                        </li>
                        <li><a href="https://www.facebook.com/PyConIndia/" title="Facebook" target="_blank"><i
                                    class="fa-brands fa-facebook-f"></i>

                            </a>
                        </li>
                        <li><a href="https://x.com/pyconindia" title="X" target="_blank"><i
                                    class="fa-brands fa-x-twitter"></i>

                            </a></li>
                        <li><a href="https://www.instagram.com/inpycon/" title="Instagram" target="_blank"><i
                                    class="fa-brands fa-instagram"></i>
                            </a></li>
                        <li><a href="https://fosstodon.org/@pyconindia" title="Mastodon" target="_blank">
                                <i class="fa-brands fa-mastodon"></i>
                            </a></li>
                        <li><a href="https://pyconindia.zulipchat.com/" title="Zulip" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 48 48"><path fill="#205D7A" stroke="blue" stroke-linecap="round" stroke-linejoin="round" d="M41.54 10.22a6.27 6.27 0 0 1-2.2 4.78L26.21 26.76c-.21.2-.61-.1-.41-.4l4.82-9.63c.1-.3 0-.6-.3-.6H11.67c-2.91 0-5.21-2.6-5.21-5.81s2.3-5.82 5.21-5.82h24.56c2.91-.1 5.31 2.51 5.31 5.72M11.67 43.5h24.66c2.91 0 5.21-2.61 5.21-5.81s-2.3-5.82-5.21-5.82H17.68a.37.37 0 0 1-.3-.6l4.82-9.62a.29.29 0 0 0-.41-.41L8.66 32.87a6.3 6.3 0 0 0-2.2 4.82c0 3.2 2.4 5.81 5.21 5.81"/></svg>
                            </a></li>
                    </ul>
                     <div class="ticket-btnlay-vol text-center pt-2">
                        <a href="https://bit.ly/inpycon24-volunteer" target="_blank">BECOME A VOLUNTEER</a>
                    </div>
                </div>
                <div class="col-md-6 text-center pb-5">
                    <img src="/image/Mask Group 12.svg" alt="pycon india 2024" class="img-fluid w-75">
                </div>
                <div class="col-md-3 text-center z-ind">
                    <p class="text-white copyrights">Copyright @ 2024 PyCon India</p>
                </div>

                <div class="col-md-12 text-center pt-5 ">
                    <p class="text-white copyrights"></p>
                </div>
            </div>
        </div>
    </section>
