<!-- banner -->
<section class="banner-sec">
    <div class="falling-leaves"></div>
    <div class="container">

        <div class="row text-center justify-content-center pt-2">
            <div class="col-lg-8 col-md-12 baner-box pt-md-5">
                <img src="image/Group 4789.svg" alt="PyCon India 2024, Bengaluru" class="img-fluid" width="702" height="160" loading="eager">
                <p class="pe-lg-5 ps-lg-5 pt-4 ms-lg-4">PyCon India 2024
                    is the premier conference for Python enthusiasts and professionals, offering an unparalleled
                    opportunity to dive deep into the world of Python and explore its limitless potential. Stay
                    tuned for updates!</p>
                <div class="row justify-content-center flex-wrap" style="row-gap:20px;">
                    <div class="ticket-btn-v2 col-lg-4 col-md-12 col-sm-12 mt-2 pt-2" >
                        <a href="https://in.pycon.org/cfp/2024/proposals/" target="_blank">Call for proposal</a>
                    </div>

                    <div class="ticket-btn-v2 col-lg-4 col-md-12 col-sm-12 mt-2 pt-2" >
                        <a href="https://konfhub.com/checkout/pyconindia2024" target="_blank">Buy tickets</a>
                    </div>
                    <div class="ticket-btn-v2 col-lg-4 col-md-12 col-sm-12 mt-2 pt-2" >
                        <a href="https://in.pycon.org/bof" target="_blank">BoF and Posters</a>
                    </div>
                </div>
                <!-- <div class="pt-5 submit-link"><a href="#">Submit keynotes</a></div> -->
            </div>
        </div>
    </div>

</section>