
<section>
    <div class="section bg-static">
        <div class="bg-move"></div>
    </div>
</section>

<section class="marquee-bg position-relative">
    <div class="container-fluid pb-md-5 ">
        <div class="row pt-md-5 pb-5 align-items-center">
            <div class="col-md-12">

                <div class="horizontal-scrolling-items">

                    <div class="horizontal-scrolling-items__item">
                        <ul class="list-group list-group-horizontal align-items-center">
                            <li class="list-group-item">
                                <p>PyCon India 2024 .</p>
                            </li>
                            <li class="list-group-item">
                                <p>20th Sep - 23rd Sep, 2024 .</p>
                            </li>
                            <li class="list-group-item">
                                <p>NIMHANS Convention Centre, Bengaluru .</p>
                            </li>
                            <li class="list-group-item">
                                <p>PyCon India 2024 .</p>
                            </li>
                            <li class="list-group-item">
                                <p>20th Sep - 23rd Sep, 2024 .</p>
                            </li>
                            <li class="list-group-item">
                                <p>NIMHANS Convention Centre, Bengaluru .</p>
                            </li>
                        </ul>
                    </div>

                    <div class="horizontal-scrolling-items__item">
                        <ul class="list-group list-group-horizontal align-items-center">
                            <li class="list-group-item">
                                <p>PyCon India 2024 .</p>
                            </li>
                            <li class="list-group-item">
                                <p>20th Sep - 23rd Sep, 2024 .</p>
                            </li>
                            <li class="list-group-item">
                                <p>NIMHANS Convention Centre, Bengaluru .</p>
                            </li>
                            <li class="list-group-item">
                                <p>PyCon India 2024 .</p>
                            </li>
                            <li class="list-group-item">
                                <p>20th Sep - 23rd Sep, 2024 .</p>
                            </li>
                            <li class="list-group-item">
                                <p>NIMHANS Convention Centre, Bengaluru .</p>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <!-- <div class="row justify-content-center pt-5 pb-5 ">
                <div class="col-lg-3  col-md-5 col-12 mb-5 mb-md-0 text-center text-md-end pb-md-5">
                    <div class="ticket-btnlay"><a href="#">BUY TICKETS</a>   </div>                     
                </div>
                <div class="col-lg-3  col-md-5 col-12 mb-5 mb-md-0 text-center text-md-start pb-md-5">
                    <div class="ticket-btnlay"><a href="#">BECOME A VOLUNTEER</a></div>
                </div>
            </div> -->
    </div>
    <div class="trainbg-rt">
        <div class="bg-move-rt"></div>
    </div>
</section>