<!-- registration -->
<section class="bg-reg" id="reg">
    <div class="container">
        <div class="row pt-5 pb-5 align-items-center">
            <div class="col-md-12 text-center pt-md-5">
                <h1 class="main-title" data-aos="fade-up" data-aos-duration="1000">PyCon India 2024</h1>
                <h2 class="re-title" data-aos="fade-up" data-aos-duration="1000">Registrations</h2>
                <h3 class="sub-tit pt-3">Bengaluru, 20 Sep - 23 Sep</h3>
                <p class="sub-part pt-md-3">PyCon India 2024 is the premier conference for Python enthusiasts and
                    professionals, offering an unparalleled opportunity to dive deep into the world of python and
                    explore its limitless potentials.</p>
            </div>
        </div>
    </div>
</section>
<section class="bg-reg-diamond"></section>