<!-- schedule -->
<section class="schedule pb-0 pb-md-5 pt-2" id="schedule">
    <div class="container pt-5">
        <div class="row pt-5 pb-5 justify-content-center">
            <div class="col-md-12">
                <h2 class="title-1 text-center mb-5" data-aos="fade-up" data-aos-duration="1000">Schedule</h2>
                <div class="tab-box">
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                                aria-selected="true">
                                <h3>SEP 29TH | FRIDAY</h3>
                                <p class="tpb-para">WORKSHOP</p>
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile"
                                aria-selected="false">
                                <h3>SEP 30TH | SATURDAY</h3>
                                <p class="tpb-para">CONFERENCE DAY 1</p>
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact"
                                aria-selected="false">
                                <h3>OCT 1ST | SUNDAY</h3>
                                <p class="tpb-para">CONFERENCE DAY 1</p>
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                            aria-labelledby="pills-home-tab">
                            <div class="tab-con pt-5 mt-3">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr class="text-center">
                                            <th scope="col">TIME</th>
                                            <th scope="col">HALL A</th>
                                            <th scope="col">HALL B</th>
                                            <th scope="col">HALL C</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">08:30 AM - 09:20 AM</th>
                                            <td colspan="3">Registrations <span class="boxedbtn ms-2">Pycon India 2023
                                                    Check-In Booth</span></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">09:20 AM - 09:25 AM</th>
                                            <td colspan="3">Opening Address <span class="boxedbtn ms-2">JN Auditorium
                                                    (Track 1)</span></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">09:30 AM - 10:30 AM</th>
                                            <td>Keynote by Cheuk Ting Ho <div class="boxedbtn mt-2">JN Auditorium (Track
                                                    1)</div>
                                            </td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">10:30 AM - 11:30 AM</th>
                                            <td></td>
                                            <td>Keynote by Cheuk Ting Ho <div class="boxedbtn mt-2 ">JN Auditorium
                                                    (Track 1)</div>
                                            </td>
                                            <td>Keynote by Cheuk Ting Ho <div class="boxedbtn mt-2">JN Auditorium (Track
                                                    1)</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">11:30 AM - 12:30 PM</th>
                                            <td>Ragabot - Music Encoded <div class="boxedbtn mt-2">JN Auditorium (Track
                                                    1)</div>
                                            </td>
                                            <td>Tinkering Space <div class="boxedbtn mt-2">JN Auditorium (Track 1)</div>
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">12:30 PM - 01:30 PM</th>
                                            <td></td>
                                            <td></td>
                                            <td>Micropython: Building a physical Inventory Search Engine <div
                                                    class="boxedbtn mt-2">JN Auditorium (Track 1)</div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-profile" role="tabpanel"
                            aria-labelledby="pills-profile-tab">
                            <div class="tab-con pt-5 mt-3">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr class="text-center">
                                            <th scope="col">TIME</th>
                                            <th scope="col">HALL A</th>
                                            <th scope="col">HALL B</th>
                                            <th scope="col">HALL C</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">08:30 AM - 09:20 AM</th>
                                            <td colspan="3">Registrations <span class="boxedbtn ms-2">Pycon India 2023
                                                    Check-In Booth</span></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">09:20 AM - 09:25 AM</th>
                                            <td colspan="3">Opening Address <span class="boxedbtn ms-2">JN Auditorium
                                                    (Track 1)</span></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">09:30 AM - 10:30 AM</th>
                                            <td>Keynote by Cheuk Ting Ho <div class="boxedbtn mt-2">JN Auditorium (Track
                                                    1)</div>
                                            </td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">10:30 AM - 11:30 AM</th>
                                            <td></td>
                                            <td>Keynote by Cheuk Ting Ho <div class="boxedbtn mt-2 ">JN Auditorium
                                                    (Track 1)</div>
                                            </td>
                                            <td>Keynote by Cheuk Ting Ho <div class="boxedbtn mt-2">JN Auditorium (Track
                                                    1)</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">11:30 AM - 12:30 PM</th>
                                            <td>Ragabot - Music Encoded <div class="boxedbtn mt-2">JN Auditorium (Track
                                                    1)</div>
                                            </td>
                                            <td>Tinkering Space <div class="boxedbtn mt-2">JN Auditorium (Track 1)</div>
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">12:30 PM - 01:30 PM</th>
                                            <td></td>
                                            <td></td>
                                            <td>Micropython: Building a physical Inventory Search Engine <div
                                                    class="boxedbtn mt-2">JN Auditorium (Track 1)</div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-contact" role="tabpanel"
                            aria-labelledby="pills-contact-tab">
                            <div class="tab-con pt-5 mt-3">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr class="text-center">
                                            <th scope="col">TIME</th>
                                            <th scope="col">HALL A</th>
                                            <th scope="col">HALL B</th>
                                            <th scope="col">HALL C</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">08:30 AM - 09:20 AM</th>
                                            <td colspan="3">Registrations <span class="boxedbtn ms-2">Pycon India 2023
                                                    Check-In Booth</span></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">09:20 AM - 09:25 AM</th>
                                            <td colspan="3">Opening Address <span class="boxedbtn ms-2">JN Auditorium
                                                    (Track 1)</span></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">09:30 AM - 10:30 AM</th>
                                            <td>Keynote by Cheuk Ting Ho <div class="boxedbtn mt-2">JN Auditorium (Track
                                                    1)</div>
                                            </td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">10:30 AM - 11:30 AM</th>
                                            <td></td>
                                            <td>Keynote by Cheuk Ting Ho <div class="boxedbtn mt-2 ">JN Auditorium
                                                    (Track 1)</div>
                                            </td>
                                            <td>Keynote by Cheuk Ting Ho <div class="boxedbtn mt-2">JN Auditorium (Track
                                                    1)</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">11:30 AM - 12:30 PM</th>
                                            <td>Ragabot - Music Encoded <div class="boxedbtn mt-2">JN Auditorium (Track
                                                    1)</div>
                                            </td>
                                            <td>Tinkering Space <div class="boxedbtn mt-2">JN Auditorium (Track 1)</div>
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">12:30 PM - 01:30 PM</th>
                                            <td></td>
                                            <td></td>
                                            <td>Micropython: Building a physical Inventory Search Engine <div
                                                    class="boxedbtn mt-2">JN Auditorium (Track 1)</div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- reg -->
<section class="bg-reg-ele"></section>