<!-- team -->
<section id="community">
    <div class="container">
        <div class="row align-items-center p-2 p-md-0">
            <div class="col-md-12 pt-5 pt-md-0 pb-5">
                <h2 class="title-2 text-center pb-5" data-aos="fade-up" data-aos-duration="1000">The Team</h2>
            </div>
            {% for member in team %}
                <div class="team-card">
                    <img src="/image/{{ member.image }}" alt="{{ member.name }}">
                    <h2>{{ member.name }}</h2>
                    <ul>
                      <li><a href="{{ member.x }}"><i class="fa fa-brands fa-x-twitter"></i></a></li>
                    </ul>
                  </div>
            {% endfor %}
        </div>
        {% comment %} <div class="row justify-content-center pt-5 pb-5 mt-md-5">
            <div class="col-lg-3  col-md-5 col-12 mb-5 mb-md-0 text-center text-md">
                <div class="ticket-btnlay"><a href="#">BECAME A PARTNER</a> </div>
            </div>
            <div class="col-lg-3 col-md-5 col-12 mb-5 mb-md-0 text-center text-md">
                <div class="ticket-btnlay"><a href="#">BECOME PROSPECTUS</a></div>
            </div>
        </div> {% endcomment %}
    </div>
</section>
