---
layout: base.liquid
title: About PyCon India 2024
---

<!-- about -->
<section class="bg-reg" id="about">
    <div class="container">
        <div class="row pt-5 pb-5 align-items-center">
            <div class="col-md-12 text-center pt-md-5">
                <h1 class="main-title" data-aos="fade-up" data-aos-duration="1000">The Origin Story</h1>
                <p class="h3 sub-tit pt-3">About PyCon India 2024</p>
                <p class="sub-part pt-md-3">PyCon India is a volunteer driven conference. Like every year, we need enthusiastic and driven volunteer drive to make PyCon India successful.</p>
            </div>
        </div>
    </div>
</section>

{% include "components/team.liquid" %}
