---
layout: base.liquid
title: Mentors & Reviewers of PyCon India 2024
---

<!-- about -->
<section class="bg-reg" id="about">
    <div class="container">
        <div class="row pt-5 pb-5 align-items-center">
            <div class="col-md-12 text-center pt-md-5">
                <h1 class="main-title" data-aos="fade-up" data-aos-duration="1000">Honoring Our Supporters</h1>
                <p class="h3 sub-tit pt-3">Speaker Mentors and Proposal Reviewers</p>
                <p class="sub-part pt-md-3">At PyCon India 2024, our reviewers and mentors are vital to our success. Their expertise improves talk quality and enriches the conference experience. We deeply appreciate their contributions.</p>
            </div>
        </div>
    </div>
</section>

{% if mentorsreviewers %}
{% render "components/team.liquid", team: mentorsreviewers, heading: "Mentors & Reviewers" %}
{% endif %}

<div class="team row justify-content-center pt-5 pb-5 ">
    {% comment %} <div class="col-lg-3  col-md-5 col-12 mb-5 mb-md-0 text-center text-md">
        <div class="ticket-btnlay"><a href="#">Become a Volunteer</a> </div>
    </div> {% endcomment %}
    <div class="col-lg-3 col-md-5 col-12 mb-5 mb-md-0 text-center text-md">
        <div class="ticket-btnlay"><a href="https://pyconindia.zulipchat.com/" target="_blank" rel="noopener noreferrer">Join PyCon India Zulip</a></div>
    </div>
</div>
