---
layout: base.liquid
title: PyCon India 2024 Venue
---

<div class="banner-sec venue" id="venue">
    <div class="container">
        <div class="row align-items-center justify-content-center download pt-5 pb-5">
            <div class="col-md-12">
                <h1 class="h2 title-2 venue-title text-center pt-md-3 pb-md-5" data-aos="fade-up" data-aos-duration="1000">Nimhans Convention Center</h1>
            </div>
            <div class="col d-none d-lg-block"></div>
            <div class="col-lg-5 pe-lg-5 me-lg-5 text-center text-lg-start">
                <p class="address">
                    Nimhans Convention Center,<br />
                    Hosur Road, Lakkasandra,<br />
                    Bengaluru - 560029<br />
                    Landmark: Near Dairy Circle
                </p>
                <div class="ticket-btnlay my-4">
                    <a href="https://www.google.com/maps/dir//WHVW%2B7RC+NIMHANS+Convention+Centre,+Hosur+Main+Road,+Lakkasandra,+Hombegowda+Nagar,+Bengaluru,+Karnataka+560029/@12.94319,77.597019,16z/data=!4m17!1m7!3m6!1s0x3bae15b78a61be57:0xc4498066da178922!2sNIMHANS+Convention+Centre!8m2!3d12.9431899!4d77.5970189!16s%2Fg%2F1tl0vsf_!4m8!1m0!1m5!1m1!1s0x3bae15b78a61be57:0xc4498066da178922!2m2!1d77.5970242!2d12.9431847!3e2?hl=en&entry=ttu" target="_blank" rel="noreferrer nofollow">Find Direction</a>
                </div>
            </div>
            <div class="col-lg-6 mt-3 mt-lg-0 text-center gmap">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.4419856449977!2d77.59536663570995!3d12.94354536686447!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae15b78a61be57%3A0xc4498066da178922!2sNIMHANS%20Convention%20Centre!5e0!3m2!1sen!2sin!4v1726614165527!5m2!1sen!2sin" width="450" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="col d-none d-lg-block"></div>
            <div class="col-md-12 text-center pt-md-5"></div>
            <div class="col-md-12 text-center pt-md-5 justify-content-center align-items-center">
                <div>
                    <section class="venue-light">
                        <div class="container py-2">
                            <div class="h1 text-center text-dark" id="pageHeaderTitle">Getting to the Conference Venue</div>

                            <article class="postcard venue-light blue">
                                <img class="postcard__img" src="/image/venue/namma-metro.jpg" alt="Namma Metro" />
                                <div class="postcard__text t-dark">
                                    <h2 class="postcard__title blue"><a href="#">Via Namma Metro</a></h2>
                                    <div class="postcard__bar"></div>
                                    <div class="postcard__preview-txt">
                                        <ul>
                                            <li>From Green Line: Disembark at South End Circle or Lalbagh metro station. From the station, you can take a short taxi/auto ride to reach NIMHANS Convention Centre.</li>
                                        </ul>
                                        For a list of stations on the Bengaluru Metro Green line, you can refer to <a href="https://en.wikipedia.org/wiki/Green_Line_(Namma_Metro)?oldformat=true" target="_blank" rel="noopener noreffer">Wikipedia</a>.<br />
                                    </div>
                                    <ul class="postcard__tagbox">
                                        <li class="tag__item">
                                            <a href="https://en.wikipedia.org/wiki/Green_Line_(Namma_Metro)">Green Line</a>
                                        </li>
                                    </ul>
                                </div>
                            </article>
                            <article class="postcard venue-light red">
                                <img class="postcard__img" src="/image/venue/bmtc.jpeg" alt="BMTC Bus" />
                                <div class="postcard__text t-dark">
                                    <h2 class="postcard__title red"><a href="#">via Bus</a></h2>
                                    <div class="postcard__bar"></div>
                                    <div class="postcard__preview-txt">
                                        <ul>
                                            <li>KIA-5D, get off at Jayanagar bus stand and NIMHANS is a few blocks away.</li>
                                            <li>KIA-7 to Kormangala Water Tank which is 8 mins away from NIMHANS.</li>
                                        </ul>

                                        We're excited to welcome you to PyCon India 2024 and hope you have a fantastic experience in Bengaluru! If you have any further inquiries or need assistance, feel free to contact us at <a href="mailto:contact@in.pycon.org" target="_blank" rel="noopener noreffer">contact@in.pycon.org</a>.
                                    </div>
                                    <ul class="postcard__tagbox">
                                        <li class="tag__item">
                                            <a href="https://bmtcwebportal.amnex.com/commuter/time-table" target="_blank" rel="noopener noreffer">Bus Timetable</a>
                                        </li>
                                    </ul>
                                </div>
                            </article>
                        </div>
                    </section>
                </div>
            </div>
            <div class="col-md-12 text-center pt-md-5"></div>
                <p class="explore-venue">
                    Located centrally in Bengaluru, the venue has 2 floors. The ground floor, has all the main tracks happening in 3 halls as per schedule. There is a booth area, community space and beverage stalls. The first floor has open spaces, poster sessions, Birds of a Feather, and more happening.
                </p>
            </div>
            <div class="col-12 mx-auto">
                <img src="/image/venue/Nimhans-Ground-compressed.png" height="809" width="1400" class="venue-layout" alt="NIMHANS convention centre floor layout" />
            </div>
        </div>
    </div>
</div>
