---
layout: base.liquid
title: PyCon India 2024 Venue
---

<div class="banner-sec" id="venue">
    <div class="container">
        <div class="row align-items-center justify-content-center download pt-5 pb-5">
            <div class="col-md-12">
                <h2 class="title-2 text-center pt-md-3 pb-md-5" data-aos="fade-up" data-aos-duration="1000">Nimhans Convention Center</h2>
            </div>
            <div class="col d-none d-lg-block"></div>
            <div class="col-md-5 pe-lg-5 me-lg-5 text-center text-lg-start">
                <p class="address">
                    NIMHANS Convention Center,<br />
                    Hosur Road, Lakkasandra,<br />
                    Bengaluru - 560029<br />
                    Landmark: Near Dairy Circle
                </p>
                <div class="ticket-btnlay my-4">
                    <a href="https://www.google.com/maps/dir//WHVW%2B7RC+NIMHANS+Convention+Centre,+Hosur+Main+Road,+Lakkasandra,+Hombegowda+Nagar,+Bengaluru,+Karnataka+560029/@12.94319,77.597019,16z/data=!4m17!1m7!3m6!1s0x3bae15b78a61be57:0xc4498066da178922!2sNIMHANS+Convention+Centre!8m2!3d12.9431899!4d77.5970189!16s%2Fg%2F1tl0vsf_!4m8!1m0!1m5!1m1!1s0x3bae15b78a61be57:0xc4498066da178922!2m2!1d77.5970242!2d12.9431847!3e2?hl=en&entry=ttu" target="_blank" rel="noreferrer nofollow">Find Direction</a>
                </div>
            </div>
            <div class="col-md-7 mt-3 mt-lg-0 text-center gmap">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.4419856449977!2d77.59536663570995!3d12.94354536686447!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae15b78a61be57%3A0xc4498066da178922!2sNIMHANS%20Convention%20Centre!5e0!3m2!1sen!2sin!4v1726614165527!5m2!1sen!2sin" width="450" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="col d-none d-lg-block"></div>
            <div class="col-md-12 text-center pt-md-5"></div>
                <p class="explore-venue">
                    Located centrally in Bengaluru, the venue has 2 floors. The ground floor, has all the main tracks happening in 3 halls as per schedule. There is a booth area, community space and beverage stalls. The first floor has open spaces, poster sessions, Birds of a Feather, and more happening.
                </p>
            </div>
            <div class="col-12 mx-auto">
                <img src="/image/venue/Nimhans-Ground.png" height="600px" width="auto" />
            </div>
        </div>
    </div>
</div>
